<p>listado de Heroes</p>


<div *ngIf="bandera; else noBorrado">
    <h3>
        Heroe Borrado: <br>
        <span  *ngFor="let heroe of heroesBorrados; let i=index" >
           
            {{heroe}} <br>
    
        </span>
    </h3>
</div>
<ng-template #noBorrado> 

    <!-- Es una referencia local del lado del template  y nos sale la condicion del else del *ngif--> 

    <p>No hay nada borrado</p>
</ng-template>
    
    <button (click)="borrarHeroe()">
        Borrar
    </button>


<ul>
    <li *ngFor="let heroe of heroes ; let i =index">
        {{i+1}} - {{heroe}}
    </li>
    
</ul>

